html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


#wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
}

#inputBlock {
    margin: 10px;
    padding: 10px;
}

#canvas {
    display: block;
    border: 3px solid black;
}